<th colspan="<%= numberOfColumns %>">
  <div class="panel panel-primary">
    <div class="panel-body" style="padding: 0px">
      <h3 style="text-align: center">State: <%= bet.state %></h3>
      <h3 style="text-align: center">Items Bet</h3>
      <div class="container" style="text-align: center;">
        <% for (item in bet.items) { %>
          <div style="display: inline-block;">
            <div data-toggle="tooltip" title="<%= bet.items[item].name %>">
              <img src="https://steamcommunity-a.akamaihd.net/economy/image/<%= bet.items[item].image %>" style="max-height: 75px; max-width: 75px; background-color: #<%= bet.items[item].meta.color %>"/>
              <p style="text-align: center;">$<%= Number(bet.items[item].price).monetary() %></p>
            </div>
          </div>
        <% } %>
      </div>
      <h3 style="text-align: center">Items Won</h3>
      <div class="container" style="text-align: center;">
        <% if (bet.winnings.length > 0) { %>
          <% for (item in bet.items) { %>
            <div style="display: inline-block;">
              <div data-toggle="tooltip" title="<%= bet.items[item].name %>">
                <img src="https://steamcommunity-a.akamaihd.net/economy/image/<%= bet.items[item].image %>" style="max-height: 75px; max-width: 75px; background-color: #<%= bet.items[item].meta.color %>"/>
                <p style="text-align: center;">$<%= Number(bet.items[item].price).monetary() %></p>
              </div>
            </div>
          <% } %>
        <% } else { %>
          <p style="text-align: center;">None</p>
        <% } %>
      </div>
    </div>
  </div>
</th>

