<div id="match-modal" class="modal fade in" style="display: block; padding-right: 17px;">
  <div class="modal-backdrop fade in" style="height: 560px;"></div>
  <div class="modal-dialog modal-lg" data-id="<%- create ? "" : match.id %>">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close">×</button>
        <h4 class="modal-title">
          <h4>Create Match</h4>
      </div>
      <div class="modal-body">
        <div id="match-modal-error" class="alert alert-danger" style="display: none;"></div>
        <div class="form-group">
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Game</label>
              <div class="col-sm-10">
                <select data-name="game" class="form-control m-b match-field">
                  <% for (game in games) { %>
                  <% var game = games[game] %>
                  <option <%= (!create && match.game.id == game.id) ? "selected" : "" %> value="<%= game.id %>"><%= game.name %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </fieldset>
          <% var m_teams = _.keys(match.teams) %>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Team #1</label>
              <div class="col-sm-10">
                <select data-name="team1" class="form-control m-b match-field">
                  <% for (team in teams) { %>
                  <% var team = teams[team] %>
                  <option <%= (!create && match.teams[m_teams[0]].id == team.id) ? "selected" : "" %> value="<%= team.id %>"><%= team.name %> (<%= team.tag %>)</option>
                  <% } %>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Team #2</label>
              <div class="col-sm-10">
                <select data-name="team2" class="form-control m-b match-field">
                  <% for (team in teams) { %>
                  <% var team = teams[team] %>
                  <option <%= (!create && match.teams[m_teams[1]].id == team.id) ? "selected" : "" %> value="<%= team.id %>"><%= team.name %> (<%= team.tag %>)</option>
                  <% } %>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Event</label>
              <div class="col-sm-10">
                <select data-name="event" class="form-control m-b match-field">
                  <% for (event in events) { %>
                  <% var event = events[event] %>
                  <option <%= (!create && match.event.id == event.id) ? "selected" : "" %> value="<%= event.id %>"><%= event.name %> (<%= event.league %>)</option>
                  <% } %>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Map List</label>
              <div class="col-sm-10">
                <input type="text" class="form-control match-field" data-name="maplist" value="<%= (!create && match.extra.maps) ? match.extra.maps.join(', ') : "" %>">
                <span class="help-block m-b-none">Comma seperated list of maps</span>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group mb">
              <label class="col-sm-2 control-label mb">Match Date</label>
              <div class="col-sm-10">
                <div data-name="match_date" class="input-group date match-field date-field" data-default="<%= !create ? match.when : "" %>">
                  <input type="text" class="form-control">
                  <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                  </span>
                </div>
                <span class="help-block m-b-none">The official date this match is being played (in local time)</span>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group mb">
              <label class="col-sm-2 control-label mb">Public Date</label>
              <div class="col-sm-10">
                <div data-name="public_date" class="input-group date match-field date-field" data-default="<%= !create ? match.public : "" %>">
                  <input type="text" class="form-control">
                  <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                  </span>
                </div>
                <span class="help-block m-b-none">The date this match will start being displayed on the frontpage (generally 2-4 days before the match date)</span>
              </div>
            </div>
          </fieldset>
          <% if (!create) { %>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Active</label>
              <div class="col-sm-10">
                <label class="switch switch-lg">
                  <input type="checkbox" <%= match.active ? 'checked' : '' %> data-name="active" class="match-field">
                  <span></span>
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset>
              <label class="col-sm-2 control-label">Match state</label>
	      <div class="col-sm-10">
	      <select data-name="bet_state" class="form-control m-b match-field">
		      <% for (var i = 0; i < match.states.length; i++){ %>
		      <% var state = match.states[i] %>
		      <option <%= (state == match.bet_state) ? "selected" : "" %> value="<%= state %>"> <%= state %>  </option> 
		      <% } %>
	      </select>
      </div>
	      <!-- <span class="help-block m-b-none">OPEN means open for betting<br>WAITING means items are locked and awaiting match completion<br>RESULT means that a result's been entered<br>LOCKED means that the match has been locked for some reason<br>CLOSED means items are getting returned<br>COMPLETED means winnings have been distributed</span> -->            
      </fieldset>
      <fieldset>
              <label class="col-sm-2 control-label">Match item state</label>
	      <div class="col-sm-10">
	      <select data-name="bet_itemstate" class="form-control m-b match-field">
		      <% for (var i = 0; i < match.itemstates.length; i++){ %>
		      <% var itemstate = match.itemstates[i] %>
		      <option <%= (itemstate == match.bet_itemstate) ? "selected" : "" %> value="<%= itemstate %>"> <%= itemstate %>  </option>
		      <% } %>
	      </select>
      </div>
	      <!-- <span class="help-block m-b-none">OPEN means open for betting</span> -->            
         </fieldset>

          <% } %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
        <button type="button" class="btn btn-success" id="match-save">
          Save Match
        </button>
      </div>
    </div>
  </div>
</div>
