<div class="row-responsive event-row clickable" data-id="<%= event.id %>">
    <div class="col-lg-4 center_div_outer" style="padding-bottom: 20px;">
        <div class="panel panel-info center_div_inner" style="width: 75%; max-width: 700px;">
            <div class="panel-body">
                <img src="<%= event.splash %>" style="max-width: 300px; max-height: 100px; margin: 0 auto;" class="img-responsive">
                <p><h3 style="text-align: center"><%= event.name %></h3></p>
            </div>
        </div>
    </div>
</div>

