
<% for (page in pages) { %>
<% var rows = pages[page] %>
<div class="inv-page" data-page="<%- page %>" style="display: none;">
  <% for (row in rows) { %>
  <div class="row inventory-row">
    <% for (item in rows[row]) { %>
    <% var item = rows[row][item] %>
    <div class="col-lg-2 inventory-item" data-page="<%- page %>" data-id="<%- item.id %>" data-toggle="tooltip" title="<%- item.name %>" style="border-color: #<%= item.meta.color %>; width: 16.2%; margin: 2px;">
      <img src="https://steamcommunity-a.akamaihd.net/economy/image/<%= item.image %>" style="max-height: 125px; max-width: 125px;"/>
      <p>$<%= Number(item.price).monetary() %></p>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
<% } %>
<nav style="text-align: center">
  <ul class="pagination pagination-lg">
    <li><a href="#" class="inv-paginate back">«</a></li>
    <% for (page in pages) { %>
    <li class="<%- page == cur_page ? 'active' :'' %>">
      <a href="#" class="inv-paginate page" data-page="<%- page %>"><%- parseInt(page) + 1 %></a>
    </li>
    <% } %>
    <li><a href="#" class="inv-paginate forward">»</a></li>
  </ul>
</nav>
