<% var teams = _.values(match.teams) %>
<div class="row-responsive match-row clickable <%= match.results ? 'match-over' : '' %>" data-id="<%- match.id %>">
  <div class="col-lg-6">
    <div id="panelDemo7" class="panel panel-default">
      <div class="panel-heading">
        <h2 style="text-align: center">
          <% for (var team in match.teams) { %>
            <span class="<%= (match.results && match.results.winner == team) ? 'team-won-name' : '' %>">
              <%- match.teams[team].name %>
            </span>
            <% if (_.keys(match.teams).indexOf(team) < (_.keys(match.teams).length - 1)) { %>
                  VS
            <% } %>

          <% } %>
        </h2>
        <% if (match.extra.note) { %>
        <div role="alert" class="alert alert-warning">
          <strong>Match Note: </strong> <%= match.extra.note %>
        </div>
        <% } %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <img src="/img/<%= teams[0].logo %>" style="max-height: 150px; max-width: 250px" class="img-rounded <%=(match.results && match.results.winner == teams[0].id) ? 'team-won' : ''%> img-responsive" />
          </div>

          <div class="col-md-6">
            <img src="<%= match.event.splash %>" style="max-width: 300px; max-height: 100px; margin: 0 auto;" class="img-responsive">
            <h3 style="text-align: center"><%= match.event.name %></h3>
          </div>

          <div class="col-md-3">
            <img src="/img/<%= teams[1].logo %>" style="max-height: 150px; max-width: 250px; display: block; float: right;" class="img-rounded <%=(match.results && match.results.winner == teams[1].id) ? 'team-won' : ''%>" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-md-6"><h3><%= teams[0].odds * 100 %>%</h3></div>
              <div class="col-md-6"><h3 style="text-align: right"><%= teams[1].odds * 100 %>%</h3></div>
            </div>
            <div class="progress">
              <div style="width: <%= teams[0].odds * 100 %>%" class="progress-bar bg-gray-darker"></div>
              <div style="width: <%= teams[1].odds * 100 %>%; display: block; float: right;" class="progress-bar bg-gray"></div>
            </div>
            <% if (match.extra.maps) { %>
              <h4 style="text-align: center">Maps: <%= match.extra.maps.join(', ') %></h4>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
