<div class="col-lg-4 center_div_outer" style="padding-bottom: 20px;">
    <div class="panel panel-info center_div_inner" style="width: 75%; max-width: 960px;">
        <div class="panel-heading" style="height: 66px; line-height: 0px"><p><h4><%= news_post.title %></h4></p><p><i><%= news_post.category %></i></p></div>
            <div class="panel-body">
                <p><%= news_post.content %></p>
            </div>
        <div class="panel-footer b0 bg-gray-light" style="height: 60px"><p><b><%= news_post.created_by %></b></p><p><%= moment.utc(news_post.created_at).local().format("MMMM D YYYY") %></p></div>
    </div>
</div>

