<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row row-centered row-responsive">
        <% _.each(bet.match.teams, function (team, tid) { %>
          <div class="col-md-3 col-centered" style="width: 256px">
            <div class="generic-slot">
              <img src="/img/<%= team.logo %>" style="max-height: 128px" />
            </div>
            <h1><%= team.tag %></h1>
          </div>
        <% }) %>
      </div>
      <div style="text-align: center">
        <% if (bet.state == "NEW") { %>
          <% if (bet.trade.state == "NEW" || bet.trade.state == "IN-PROGRESS") { %>
            <h2>Pending Trade Offer</h2>
          <% } else if (bet.trade.state == "OFFERED") { %>
            <h2>Pending Trade Completion</h2>
            <h4><a href="https://steamcommunity.com/tradeoffer/<%= bet.trade.offer %>">Accept the Offer</a></h4>
          <% } %>
        <% } else if (bet.state == "CONFIRMED") { %>
          <h2>Pending Match Completion</h2>
        <% } else if (bet.state == "WON") { %>
          <h2>Won</h2>
        <% } else if (bet.state == "LOST") { %>
          <h2>Lost</h2>
        <% } %>
        <hr>
        <h2><a href="/match/<%= bet.match.id %>">View Match</a></h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row row-centered">
            <h3>Items Placed</h3>
            <% for (item in bet.items) { %>
              <% var item = bet.items[item] %>
              <div class="col-sm-2 col-centered bet-slot">
                <img src="/api/item/image/<%= item %>" style="max-height: 125px; max-width: 125px;"/>
              </div>
            <% } %>
          </div>
        </div>
      </div>
      <% if (bet.winnings) { %>
        <div class="row">
          <div class="col-md-12">
            <div class="row row-centered">
              <h3>Items Won</h3>
              <% for (item in bet.winnings) { %>
                <% var item = bet.winnings[item] %>
                <div class="col-sm-2 col-centered bet-slot">
                  <img src="/api/item/image/<%= item %>" style="max-height: 125px; max-width: 125px;"/>
                </div>
              <% } %>
            </div>
            <div class="row" style="text-align: center">
              <button type="button" class="btn btn-info match-returns" data-id="<%= bet.match.id %>">Request Returns</button>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>
