<style>
  .split-team-1 {
    position: absolute;
    background: url(http://10.0.0.3:5000/static/img/teams/cloud9.png) no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
  }

  .split-team-2 {
    transform: skewX(20deg);
    margin-left: 10px;
    background: url(http://10.0.0.3:5000/static/img/teams/nip.png) no-repeat;
  }
</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Yolo VS Swag</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-1">
        <em class="fa icon-trophy" style="font-size: 8em; color: #27c24c"></em>
      </div>
      <div class="col-md-11">
        <div class="row row-centered">
        <h3>Items Placed</h3>
          <div class="col-sm-2 col-centered bet-slot">
            <em style="font-size: 9em;" class="fa fa-question"></em>
          </div>
          <div class="col-sm-2 col-centered bet-slot">
            <em style="font-size: 9em;" class="fa fa-question"></em>
          </div>
          <div class="col-sm-2 col-centered bet-slot">
            <em style="font-size: 9em;" class="fa fa-question"></em>
          </div>
          <div class="col-sm-2 col-centered bet-slot">
            <em style="font-size: 9em;" class="fa fa-question"></em>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <img src="http://10.0.0.3:5000/static/img/teams/cloud9.png" style="max-height: 128px" />
        <img src="http://10.0.0.3:5000/static/img/teams/nip.png" style="max-height: 128px" />
      </div>
      <div class="col-md-11">
        <div class="row row-centered">
        <h3>Items Won</h3>
          <div class="col-sm-2 col-centered bet-slot">
            <em style="font-size: 9em;" class="fa fa-question"></em>
          </div>
          <div class="col-sm-2 col-centered bet-slot">
            <em style="font-size: 9em;" class="fa fa-question"></em>
          </div>
          <div class="col-sm-2 col-centered bet-slot">
            <em style="font-size: 9em;" class="fa fa-question"></em>
          </div>
          <div class="col-sm-2 col-centered bet-slot">
            <em style="font-size: 9em;" class="fa fa-question"></em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
