<nav class="navbar navbar-inverse" id="stats-navbar">
	<div class="container" style="width:95%;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">Fort Analytics</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a id="value-history" href="#">Value History</a></li>
				<li><a id="bet-win-loss" href="#">Bet W/L</a></li>
				<li><a id="help" href="#">Help</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="stats-container">
				<div id="stats-history-display"></div>
			</div
		</div>
	</div>
</div>
