{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<blockquote class="pull-left">
		  <p>Go! Go! Go!</p>
		  <small>BOT Hank in <cite title="Source Title">de_dust2</cite></small>
		</blockquote>
	</div>

	<div class="container">
		<h2>Games</h2>
		<div class="jumbotron">
		  <h1>
		  	<img src="static/img/team_logos/dAT.png" alt="Oh no! The original team image seems to be missing!" style="width:23%;height:23%"></img>
		  	<strong>dAT</strong> <small>vs</small> <strong>HR</strong>
		  	<img src="static/img/team_logos/HR.png" alt="Oh no! The original team image seems to be missing!" style="width:23%;height:23%"></img>
		  </h1>
		  <center><p>January 1st, 2015 at 12:00 AM PST</p></center>

		  <form class="form-horizontal">
				<fieldset>
			    	<div class="form-group">
			      		<label class="col-lg-2 control-label"><p>Who will win?</p></label>
			      		<div class="col-lg-10">
			        	<div class="radio">
				          	<label>
				            	<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
				            		dAT
				          	</label>
				          	<label> <!--padding--> </label>
				          	<label>
				            	<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				            		HR
				          	</label>
			        	</div>
			      	</div>
			    </div>
			  	</fieldset>
			  	<div class="panel panel-default">
					<div class="panel-heading">Your bettable items</div>
					<div class="panel-body">Insert items here.</div>
				</div>
			</form>
		  <p><a class="btn btn-primary btn-lg">Place Bet</a></p>
		</div>
	</div>



{% endblock %}