{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div role="alert" class="alert alert-info">
      <h3>
      We're going to be waiting to post more matches until some issues identified by our initial launch are fixed and we are comfortable with the stability of the site. We're hoping to have more matches up by this upcoming Monday. Thanks for your ongoing support, and please contact us with issues contact@csgofort.com.
      </h3>
    </div>
  </div>
</div>
<div class="row" fort-user="false">
  <div class="col-lg-9">
    <div class="jumbotron">
      <h1>CS:GO Fort</h1>
      <p>CSGO Fort is a fast, easy, and fair way to bet Steam items on Counter-Strike Global Offensive matches. We're a secure, fair, and unaffiliated third-party service which was built by and for the CS community. We strive to be the best solution, while remaining honest to our members. It's easy to get started, just <a href="/auth/login">login with your Steam account</a>.
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-default" style="border-top-width: 1px;">
      <div class="list-group">
        <div class="list-group-item">
          <div class="media-box">
            <div class="media-box-body clearfix">
              <div class="media-box-heading" style="font-size: 1.5em"><li>The fastest and safest solution built specifically for the CSGO Community</li></div>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media-box">
            <div class="media-box-body clearfix">
              <div class="media-box-heading" style="font-size: 1.5em"><li>Audited and sponsored by professional, industry-leading security auditers</li></div>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media-box">
            <div class="media-box-body clearfix">
              <div class="media-box-heading" style="font-size: 1.5em"><li>Dedicated to providing a fair, unbiased, community-driven betting solution for CSGO</li></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="matches-container"></div>
{% endblock %}
