{% extends "base.html" %}
{% block content %}
<div class="stats-container"></div>
{% endblock %}

{% block pre_scripts %}
<script language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>       
<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.resize.js"></script>
<script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<!--TODO Need to fix tooltip conflict between jqueryui and bootstrap... http://stackoverflow.com/questions/13731400/jqueryui-tooltips-are-competing-with-twitter-bootstrap/22087252#22087252 -->
{% endblock %}
